
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.loading-icon {
  border: 4px solid rgba(0,0,0,.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-left: 4px solid #000;
  animation: spin 1s linear infinite;
}



  option {
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }


  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .item {
      flex-direction: column;
      align-items: center;
    }

    /* .item img {
      margin-right: 0;
      margin-bottom: 20px;
    } */
  }


  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .app-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    /* align-items: center; */
  }
